/* navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom:8px ;
}

/* home */
#home{
    height: 385px;
    padding: 3px 1px;

}
#home::before{
    height: 400px;
}
#home p{
    font-size: 13px;
}


/* services */
#services{
flex-direction: column;
}


#services .box img {
    display: block;
    /* height: 82px; */
    margin: auto;
    width: 100px;}

#services.box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px ;

 } 


/* clients section */
#clients{
flex-direction: wrap;
}
#clients img{
    width: 60px;
    padding: 6px;
    height: auto;

}


/* contact  */
#contact-box form{
    width: 80%;
}


/* footer  */

/* utlitity */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}